.search-page-background-container {
  background-color: #131313;
  padding: 10px 30px;
  min-height: 100vh;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.search-page-container {
  display: flex;
  flex-wrap: wrap;
}
.page-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #131313;
}
.page-number-left-icon {
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #ffffff;
  background-color: transparent;
  margin-right: 20px;
  outline: none;
}

.page-number-right-icon {
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
  background-color: transparent;
  outline: none;
}
.page-number-text {
  font-family: 'Bree Serif';
  font-size: 16px;
  color: #cbd5e1;
  margin-right: 20px;
}
.failure-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #131313;
}
.failure-search-image {
  height: 200px;
  width: 200px;
  background-image: transparent;
}
.failure-search-description {
  font-family: 'Bree Serif';
  font-size: 16px;
  color: #cbd5e1;
}
.initial-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  min-height: 100vh;
}
.search-message {
  font-family: 'Bree Serif';
  font-size: 28px;
  color: #ffffff;
}
